.itemUpload-itemname {
    width: 420px;
    height: 40px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 0.5px solid #DEE2E6;
    border-right: 0px;
}

.itemUpload-itembtn {
    width: 80px;
    height: 40px;
    border: 0.5px solid #DEE2E6;
    background-color: #007BFF;
    color: white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.itemUpload-itembtn:hover {
    border-left: 0px;
    background-color: white;
    transition: background-color 0.2s ease;
    color: black;
}

.itemupload-type {
    height: 40px;
}

.itemupload-price {
    height: 40px;
}

.file-submin-btn {
    width: 100px;
    height: 45px;
    background-color: #007BFF;
    color: white;
    border-radius: 6px;
    border: 0.5px solid #DEE2E6;
}

.file-submin-btn:hover{   
    background-color: white;
    transition: background-color 0.2s ease;
    color: black;
}

.update-status-radio{
    transform: scale(1.3);
}
.update-status-input{
    font-size: 17px;
}