.items-table {
    width: 100%;
    border-collapse: collapse;
}

.items-thead th {
    border: 1px solid #ddd;
    padding: 8px;
}

.items-thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.items-tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.items-state-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: '90px';
}

.items-state-visible {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.items-state-visible:hover {
    background-color: #0d6efd;
    transform: scale(1.05);
}

.items-category-button {
    width: 180px;
    height: 50px;
    border-radius: 12px;
    font-size: 1.2em;
    font-weight: bolder;
}

.items-search-box {
    /* outline: 2px solid red; */
    margin-left: 50px;
    display: flex;
    align-items: center;

}

.items-search-box input {
    height: 45px;
    width: 250px;
    border: 1px solid;
    padding-left: 10px;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.items-search-box button {
    height: 45px;
    background-color: #fff;
    border: 1px solid;
    border-left: 0;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
