.sort-search-box {
    /* outline: 2px solid red; */

    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-sort-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-sort-controls label {
    /* margin-right: 15px; */
}

.users-search-box {
    /* outline: 2px solid red; */
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.users-search-box input {
    height: 30px;
    width: 400px;
    border: 1px solid;
    margin-left: 40px;
    padding-left: 10px;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.users-search-box button {
    height: 30px;
    background-color: #fff;
    border: 1px solid;
    border-left: 0;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-thead th {
    border: 1px solid #ddd;
    padding: 8px;
}

.users-tbody td {
    border: 1px solid #ddd;
    vertical-align: middle;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
}

.users-thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.users-tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.minihompy-go {
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    border: none;
    border-radius: 5px;

    float: left;
}

.minihompy-go:hover {
    background-color: #0d6efd;
    transform: scale(1.05);
}

.reset-btn {
    background-color: #dc3545;
    color: #fff;
    border: 0;
    height: 30px;
    border-radius: 5px;

    float: right;
}

.reset-btn:hover {
    background-color: #dc3545;
    transform: scale(1.05);
}

.message-btn-td {
    text-align: center;
}

.message-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
}

.message-btn:hover {
    background-color: #0d6efd;
    color: #fff;
    transform: scale(1.05);
}

.user-pagination-box {
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
