.sort-search-box {
    /* outline: 2px solid red; */

    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-sort-controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-sort-controls label {
    /* margin-right: 15px; */
}

.users-search-box {
    /* outline: 2px solid red; */
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.users-search-box input {
    height: 30px;
    width: 400px;
    border: 1px solid;
    margin-left: 40px;
    padding-left: 10px;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.users-search-box button {
    height: 30px;
    background-color: #fff;
    border: 1px solid;
    border-left: 0;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.users-thead th {
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
    white-space: nowrap;
}

.users-tbody td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.users-tbody td:first-child,
.users-tbody th:first-child {
    width: 5%;
}

.users-tbody td:nth-child(2),
.users-tbody th:nth-child(2) {
    width: 20%;
}

.users-tbody td:nth-child(3),
.users-tbody th:nth-child(3) {
    width: 15%;
}

.users-tbody td:nth-child(4),
.users-tbody th:nth-child(4) {
    width: 20%;
}

.users-tbody td:nth-child(5),
.users-tbody th:nth-child(5) {
    width: 10%;
}

.users-tbody td:nth-child(6),
.users-tbody th:nth-child(6) {
    width: 10%;
}

.users-tbody td:nth-child(7),
.users-tbody th:nth-child(7) {
    width: 10%;
}

.users-tbody td:nth-child(8),
.users-tbody th:nth-child(8) {
    width: 15%;
}

.hompy-btn-box {
    display: flex;
    justify-content: space-between;
}

.minihompy-go, .reset-btn {
    width: 48%;
    margin: 0;
}

.minihompy-go {
    background-color: #0d6efd;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.reset-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    height: 30px;
    border-radius: 5px;
}

.message-btn-td {
    text-align: center;
}

.message-btn {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0 10px;
}

.message-btn:hover {
    background-color: #0d6efd;
    color: #fff;
    transform: scale(1.05);
}

.user-pagination-box {
    /* outline: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
