/* .layout-container {
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

.content-wrapper {
  width: 65%;
  height: 800px;
  padding: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  margin-right: 530px;
}

.left-panel, .right-panel {
  flex: 1;
  box-sizing: border-box;
  margin-top: 60px;
}
 */

.visitor-info {
  /* position: absolute; */
  /* top: 70px; */
  /* left: 190px; */
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  /* z-index: 1; */
  flex: 4;
}

.homepage-title {
  /* position: absolute; */
  /* top: 45px; */
  /* right: 58%; */
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  /* z-index: 1; */
  flex: 8;
}

 .background-image {
  /* position: absolute; */
  /* width: 1400px; */
  height: 934px;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  z-index: -1;
  display: flex;
}

.text1{
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  width: 1400px;
  outline: auto;
  display: flex;
  background-color: aqua;
}

.text1-1{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1300px;
  outline: 3px solid red;
  display: flex;
  background-color: red;
  flex-direction: column;
}

.text1-2{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 90px;
  outline: 3px solid blueviolet;
  background-color: blueviolet;
  display: flex;
  padding-top: 70px;
}

.text1-3{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 330px;
  outline: 3px solid rgb(35, 90, 199);
  background-color:  rgb(35, 90, 199);
  flex:3;
}
.text1-4{
  margin:10px;
  /* margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px; */
  width: 850px;
  outline: 3px solid rgb(29, 151, 112);
  background-color:  rgb(29, 151, 112);
  flex:8;
}

.text1-5{
  margin-top: 10px;
  margin-left: 10px;
  outline: 3px solid rgb(230, 103, 40);
  background-color: rgb(230, 103, 40);
  display: flex;
  align-items: center;
}
.text1-6{
  margin-left: 10px;
  outline: 3px solid  rgb(186, 207, 30);
  background-color: rgb(186, 207, 30);
  display: flex;
}

.text2{
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  outline: 1px solid blue;
  height: 200px;
  width: 250px;
  background-color: blue;
}

