.visitAndtitle{
  /* outline: 3px solid rgb(230, 103, 40); */
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.visitor-info {
  font-size: 15px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  flex: 3;
}

.homepage-title {
  font-size: 35px;
  font-weight: bold;
  margin-left: 30px;
  flex: 8;
}

.homepage-title input {
  border: none;
  background: none;
  width: 500px;
}

.homepage-title-outline{
  outline: none;
}

.homepage-title-cursor{
  cursor: pointer;
}

.background-image {
  height: 934px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  display: flex;
}

.outline-container{
  /* background-color: aqua; */
  position: relative;
  width: 1400px;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px;
}

.outline-image {
  position: absolute; /* 이미지가 배경처럼 동작하도록 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* 이미지가 가장 뒤에 위치하도록 설정 */
}

.inline-container{
  /* outline: 3px solid red; */
  position: relative;
  z-index: 2; /* 다른 요소들이 이미지 위에 배치되도록 설정 */
  width: 100%;
  height: 100%;
  padding: 40px;
  margin-left: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.menubar {
  /* outline: 3px solid blueviolet; */
  position: relative;
  right: 45px;
  bottom: 121px;
  z-index: 2;
}

.left-content{
  /* outline: 3px solid rgb(35, 90, 199); */
  width: 420px;
  margin-left: 20px;
  flex:3;
}
.right-content{
  /* outline: 3px solid rgb(29, 151, 112); */
  width: 850px;
  margin-left: 10px;
  flex:8;
}

.maincontent{
  /* outline: 3px solid  rgb(186, 207, 30); */
  display: flex;
}

.bgmbox{
  /* outline: 1px solid blue; */
  margin-left: 8px;
  margin-top: 45px;
  width: 380px;
}

