/* Modal.css */
.payment-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.payment-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-top: 20px solid #E66E28;
}

.payment-pushItem {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(145deg, #FFA500, #FF8C00);
  /* 그라데이션 배경 */
  border: 2px solid #FF8C00;
  /* 회색 테두리 */
  color: white;
  /* 텍스트 색상 */
  cursor: pointer;
  /* 포인터 커서 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15),
    -2px -2px 5px rgba(255, 255, 255, 0.7);
  /* 입체감 있는 그림자 */
  transition: all 0.2s ease;
  /* 전환 효과 */

}

.payment-pushItem:hover {
  background: linear-gradient(145deg, #FFD580, #FFA500);
  /* 마우스 오버 시 배경 색상 변경 */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 4px rgba(255, 255, 255, 0.7);
  /* 그림자 크기 조정 */
  transform: translateY(-1px);
  /* 살짝 위로 이동 */
}

.payment-pushItem:active {
  background: linear-gradient(145deg, #FFA07A, #FF4500);
  /* 클릭 시 배경 색상 변경 */
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.7);
  /* 눌린 듯한 효과 */
  transform: translateY(1px);
  /* 클릭 시 원래 위치로 돌아옴 */
}

.payment-pushItem:focus {
  outline: none;
  /* 포커스 시 외곽선 제거 */
  box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
}

.payment-close-pushItem {
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(145deg, #FFA500, #FF8C00);
  /* 그라데이션 배경 */
  border: 2px solid #FF8C00;
  /* 회색 테두리 */
  color: white;
  /* 텍스트 색상 */
  cursor: pointer;
  /* 포인터 커서 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15),
    -2px -2px 5px rgba(255, 255, 255, 0.7);
  /* 입체감 있는 그림자 */
  transition: all 0.2s ease;
  /* 전환 효과 */

}

.payment-close-pushItem:hover {
  background: linear-gradient(145deg, #FFD580, #FFA500);
  /* 마우스 오버 시 배경 색상 변경 */
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2),
    -1px -1px 4px rgba(255, 255, 255, 0.7);
  /* 그림자 크기 조정 */
  transform: translateY(-1px);
  /* 살짝 위로 이동 */
}

.payment-close-pushItem:active {
  background: linear-gradient(145deg, #FFA07A, #FF4500);
  /* 클릭 시 배경 색상 변경 */
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.7);
  /* 눌린 듯한 효과 */
  transform: translateY(1px);
  /* 클릭 시 원래 위치로 돌아옴 */
}

.payment-close-pushItem:focus {
  outline: none;
  /* 포커스 시 외곽선 제거 */
  box-shadow: 0 0 5px rgba(255, 140, 0, 0.5);
}

.payment-acorn-img {
  width: 30px;
  margin-bottom: 5px;
}

.payment-small-acorn-img {
  width: 20px;
  margin-bottom: 3px;
}