.box-container {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-around; /* 간격을 일정하게 */
    padding: 5px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.main-payment-container, 
.cart-container {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.payCart-button {
    width: 100%; /* 버튼이 컨테이너의 전체 너비를 차지하도록 */
    height: 60%; 
    background-color: var(--main-color);
    border-radius: 20px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payCart-button:hover {
    transform: scale(1.05);
}
