/* MyBox.css */
:root {
    --main-color: #e66e28;
}

.mybox-container {
    /* outline: 2px solid black; */
    width: 100%;
    height: 400px;
    max-width: 500px;
    margin: 15px auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

/* 박스 상단 */
.top {
    /* outline: 2px solid blue; */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
}

.name-box{
    /* outline: 2px solid red; */
    /* position: relative;
    left: 48px; */
    display: flex;
    justify-content: center;
    flex-grow: 1;
}
.btn-box{
    /* outline: 2px solid blue; */
    margin-left: 20px;
}

.topbtn-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-btn {
    width: 140px;
    height: 40px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 5px 10px;
    border: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.acorn-btn:hover {
    transform: scale(1.05);
}

.logout-btn {
    background: none;
    border: 0;
    padding: 8px 16px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.logout-btn:hover {
    transform: scale(1.1);
}

/* 박스 중앙 */
.middle {
    /* outline: 2px solid red; */
    width: 100%;
    height: 160px;
    display: flex;
    margin-top: 10px;
}

.minimi-box {
    /* outline: 2px solid rgb(255, 0, 179); */
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.minimi-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.info-box {
    /* outline: 2px solid rgb(255, 72, 0); */
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.info-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info-box ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.info-box ul li span {
    margin: 0;
    /* display: block; */
}

.info-box ul li img {
    width: 15px;
    height: 15px;
    /* position: relative;
    right: 15px; */
}

.friend-request, .acorn-status {
    transition: all 0.3s ease;
}

.friend-request:hover, .acorn-status:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    border-radius: 5px;
    transform: scale(1.05);
}

/* 박스 하단 */
.box-container {
    /* outline: 1px solid saddlebrown; */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.top-buttons-container, .bottom-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.top-buttons-container .hompy-btn,
.bottom-buttons-container .payCart-button {
    width: 45%;
    height: 40px;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
    background-color: var(--main-color);
    color: #fff;
    transition: all 0.3s ease;
}

.top-buttons-container .hompy-btn:hover, .bottom-buttons-container .payCart-button:hover {
    transform: scale(1.05);
}

.bottom-buttons-container .payCart-button {
    font-size: 16px; /* 하단 버튼의 폰트 사이즈 조정 */
    background-color: var(--main-color);
    color: #fff;
}