/* SlideImg.css */
.slideImg-container {
    width: 60%;
    height: 430px;
    margin: 20px; /* 상하 20px의 여백과 좌우 자동 정렬 */
    border: 1px solid seagreen;
}

.carousel,
.carousel-item {
    height: 100%;
}

.carousel .carousel-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px; /* 슬라이드 이미지에 둥근 모서리를 적용 */
    object-fit: cover;
}

/* 좌우 버튼 css */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #e66e28; /* 원하는 색상으로 변경 */
    border-radius: 50%; /* 모서리를 둥글게 */
    width: 40px; /* 버튼 크기 조정 */
    height: 40px; /* 버튼 크기 조정 */
}

/* 버튼에 마우스를 올렸을 때의 색상 변경 */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #d55a24; /* 원하는 호버 색상으로 변경 */
}

/* 아이콘 색상을 흰색으로 설정 */
.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
    color: #ffffff; /* 원하는 아이콘 색상 */
}

.example-img-container {
    width: 100%;
    height: 100%; /* 부모 컨테이너의 높이를 상속받아야 합니다 */
}

img.example-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율을 유지하면서 컨테이너를 채웁니다 */
}