.footer-logo {
    /* outline: 1px solid black; */
    position: relative;
    left: 50px;
}

.footer-logo img {
    max-height: 150px; /* 로고 크기 조정 */
    /* margin-left: 40px; */
}
/* Footer.css */
.footer-container {
    padding: 20px 0;
    border-top: 1px solid #e9ecef; /* 상단 경계선 추가 */
    margin-top: 30px;
}

.footer-content {
    /* outline: 1px solid blue; */
    background-color: #f7f7f7; /* 배경색 조정 */
    border-radius: 14px;
    margin-top: 30px;
    padding: 20px 0;
    border-top: 1px solid #e9ecef; /* 상단 경계선 추가 */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 10px;
}

.footer-info,
.footer-links,
.footer-info {
    max-width: 550px;
}

.footer-policy{
    margin-top: auto;
    margin-bottom: 13px;
}

.footer-links ul,
.footer-policy ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li,
.footer-policy ul li {
    margin-bottom: 10px;
}

.footer-links ul li a,
.footer-policy ul li a {
    color: #333;
    text-decoration: none;
}

.footer-social {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

.footer-social img {
    width: 50px; /* 이미지 크기 조정 */
    height: 50px; /* 이미지 크기 조정 */
}

.footer-bottom {
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    color: #888;
    font-size: 12px;
}

