/* home.css */
.home-container {
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
}

.body-container {
    outline: 2px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;       /* 상단에 맞추어 정렬 */
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box; 
    margin-bottom: 20px;
}
